<h1>ログイン</h1>

<%= form_tag seller_login_path, method: :post, data: { turbo: false } do %>
    <%= label_tag :sid, '販売者ID' %>
    <%= text_field_tag :sid %>
    <%= label_tag :password, 'パスワード' %>
    <%= password_field_tag :password %>
    <%= submit_tag 'ログイン' %>
<% end %>

<!--%= link_to "新規登録", user_new_path%>