<% if current_admin %>
    <h1>店舗一覧</h1>
    <% @sellers.each do |e| %>
        <p>-----------------------------<br>
            <%= e.sid %>
            <%= button_to 'ショップを削除する','/seller/destroy',{method: :get,params: {seller_id: e.id}} %>
        </p>
    <% end %>
    
    <hr>
    <p><%= link_to "店舗追加", '/seller/new'%></p>
    <p><%= link_to "カテゴリ編集", serch_product_category_view_path%></p>
    <p><%= link_to "ログアウト", admin_logout_path%></p>
    <p><%= link_to "全商品一覧", '/buy_result/product_all' %></p>
<% else %>
    
    <h1>管理者ログイン</h1>
    
    <%= form_tag admin_signin_path, method: :post, data: { turbo: false } do %>
        <%= label_tag :aid, '管理者ID' %>
        <%= text_field_tag :aid %>
        <br>
        <% #↑一行追加 %>
        <%= label_tag :password, 'パスワード' %>
        <%= password_field_tag :password %>
        <%= submit_tag 'ログイン' %>
    <% end %>
    
    <%= link_to "新規登録", new_admin_path %>
<% end %>
