<h1>商品編集画面</h1>
<%= form_for @product,method: :posts, url: { action: :pd_edit } do |f| %>
    <p>
        <%= label_tag :pid, '商品名' %>
        <%= text_field_tag :pid %>
    </p>
    <%= hidden_field_tag :p_id, @p_id %>
    <p>
        <%= label_tag :price, '価格' %>
        <%= text_field_tag :price %>
    </p>
    <p>
        <%= label_tag :description, '商品説明' %>
        <%= text_field_tag :description %>
    </p>
    <p>
        <!--%= form_tag("product/create",{multipart:true}) %-->
        <!--input name="img" type="file"-->
        <%= label_tag :img, '商品画像' %>
        <%= f.file_field :img %>
    </p>
    <%= submit_tag '更新' %>
<% end %>