<h1>登録画面</h1>
<%= form_for @user, url: { action: :create } do |f| %>
    <p>
        <%= label_tag :uid, 'ユーザーID' %>
        <%= text_field_tag :uid %>
    </p>
    <p>
        <%= f.label :pass, 'パスワード' %>
        <%= f.password_field :pass %>
    </p>
    <p>
        <%= f.label :pass_confirmation, 'パスワード(確認)' %>
        <%= f.password_field :pass_confirmation %>
    </p>
    <p>
        <%= label_tag :last_name, '姓' %>
        <%= text_field_tag :last_name %><br>
        <%= label_tag :name, '名' %>
        <%= text_field_tag :name %>
    </p>
    <p>
        <%= label_tag :gender, '性別' %>
        <%= check_box_tag :gender, '男' %>男
        <%= check_box_tag :gender, '女' %>女
    </p>
    <p>
        <% #メールアドレスじゃない.住所. 仕様書と役割ちゃんと見てもろて%>
        <%= label_tag :address, '住所' %>
        <%= text_field_tag :address %>
    </p>
    <p>
        <%= label_tag :phone_number, '電話番号' %>
        <%= text_field_tag :phone_number %>
    </p>
    <p>
        <%= label_tag :birth, '生年月日' %>
        <%= f.date_select :birth, {start_year: 1950, end_year: 2023,
        include_blank: true, use_two_digit_numbers: true},
        {class: "input-tab birthday-select"}%>
    </p>
    <%= submit_tag '登録' %>
<% end %>
