<h1>カート</h1>

<% if @cart.size>=1 %>
<p>合計:<%= @sum_price %> 円</p>
<%= link_to "購入する","/buy_result/buied"%>
<% @cart.each do |c| %>
<p>--------------------------</p>
<p>商品名:<%= Product.find(c).pid %></p>
<% if Product.find(c).img!=nil %>
<%= image_tag Product.find(c).img,:size =>'160x160' %>
<% end %>
<p>価格:<%= Product.find(c).price %> 円</p>
<p>個数:<%= @users_cart.where(product_id: c).count %></p>
<%= button_to 'カートから削除','cp_delete',{method: :get,params: {d_id: c}} %>
<% end %>

<% else %>
<p>カートに商品が入っていません</p>
<% end %>